.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  padding-left: 5vw;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
  margin-top: 10%;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.button {
  border-radius: 45px;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(68,81,255,1) 0%, rgba(171,0,255,1) 100%);
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  width: 230px;
  cursor: pointer;
  margin-bottom: 2%;
  font-family: "Courier New", Courier, monospace;
}



@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
  }
}